{% if error %}
   {{error}}
{% else %}
   <h3>Restaurants</h3>
   {% if restaurants %}
      {% for r in restaurants %}
         <li>{{ r.name }} {% if r.staff_only %}<b> (staff only!)</b> {% endif %}, {{ r.location }}, {{ r.opening_hours }} - {{ r.closing_hours}} {% if r.open_weekend %} (weekends: {{r.opening_hours_weekend}} - {{r.closing_hours_weekend}}) {% else %} (closed weekends) {% endif %}
	 <a href="{% url 'eatatdcu:specials' restaurant=r.name %}">Specials</a>
	 </li>
      {% endfor %}
   {% else %}
      No restaurants found
   {% endif %}
{% endif %}

